__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

.ipynb_checkpoints/

mlartifacts/
mlruns/
mlflow.db

*.pkl
*.joblib

.env
.env.*

.DS_Store
